.cont-nav-bar-MK{
    background-color: rgb(244, 172, 183);

    &:hover {
        background-color:rgb(244, 147, 147) ;
        box-shadow: 0 0 0 4px rgb(244, 147, 147)
    }
}

.cont-resumen{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 10px;

    .resumen{
        margin-top: 100px;
        background-color: rgb(243, 219, 219);
        padding: 20px 20px;
        font-family: 'Cabin', sans-serif;
        font-size: 20px;
        box-shadow: 10px 10px 20px rgb(68, 68, 68);
    }
}

.cont-txt-img{
    display: flex;

    .ft-parada{
        margin-right: 50px;
        margin-left: 10px;
        height: 90vh;
        background-color: #f6c8f1;
        box-shadow: 10px 10px 20px rgb(68, 68, 68);
    }

    .txt-img{
        background-color: #f6c8f1;
        align-self: center;
        text-align: center;
        font-family: 'Cabin', sans-serif;
        font-size: 28px;
        padding: 15px;
        box-shadow: 10px 10px 20px rgb(68, 68, 68);
    }
}

.header-iniciarse-MK{
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    padding-top: 20px;
}

.div-iniciarse-MK{
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Cabin', sans-serif;
    font-size: 20px;
    color: rgb(111, 111, 107);
    padding: 20px;
}

.video-MK{
    display: flex;
    justify-content: center;
}

@media (max-width: 992px){
    .navbar-brand {
        margin-top: 10px;
        margin-left: 10px;
      }

      .list-nav-bar {
        margin-left: 0;
        text-align: center;
        margin-top: 7vh;
        background-color: #f6e9f7;
        border-radius: 10px;

        .nav-menu-item {
            font-size: 3vh;
          }
      }
}

@media (max-width: 1023px){
    .cont-resumen{
        margin-top: 70px;

        .resumen{
            font-size: 3vh;
            margin: 20px;
        }
    }

    .cont-txt-img{
        display: block;

        .txt-img{
            font-size: 4vh;
            margin: 30px 20px;
        }
    }

    .cont-ft-parada{
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
    }

    .no-sabes{
        font-size: 6vh;
    }

    .iniciarse{
        font-size: 4vh;
    }
}